.App-scoreboard {
  background-color: #222000;
  color: #ffffff;
}

.App-scoreboard-container{
  align-items: center;
  display: flex;
  height: 80px;
  margin: auto;
  max-width: 1200px;
}

.App-scoreboard-container div {
  flex-grow: 1;
  font-size: 22px;
}

.App-round {
  font-size: 20px;
  height: 106px;
  margin: 26px 0 40px 0;
}

.App-officers {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}
