.App-logo {
  height: 80px;
}

.App-header {
  background-color: #5098c6;
  padding: 30px;
}

.App-header h2 {
  margin: 0;
  color: #242424;
  font-family: Final Frontier Oldstyle;
  font-style: italic;
  font-size: 54px;
  text-transform: uppercase;
}

.App-header span {
  position: relative;
  bottom: 20px;
}

.App-scoreboard {
  background-color: #222000;
  color: #ffffff;
}

.App-scoreboard-container{
  align-items: center;
  display: flex;
  height: 80px;
  margin: auto;
  max-width: 1200px;
}

.App-scoreboard-container div {
  flex-grow: 1;
  font-size: 22px;
}

.App-round {
  font-size: 20px;
  height: 106px;
  margin: 26px 0 40px 0;
}

.App-officer {
  cursor: pointer;
  flex-grow: 1;
}

.App-officer img{
  width: 100%;
}

.App-officers {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}
