.MuteButton {
  border: 1px #8a8a8a solid;
  border-radius: 50%;
  background-color: #dfdfdf;
  height: 24px;
  width: 24px;
  opacity: 0.5;
  position: absolute;
  top: 14px;
  right: 14px;
}

.MuteButton img{
  padding: 4px;
  height: 16px;
}
