@font-face {
  font-family: 'Final Frontier Oldstyle';
  src: url('./fonts/finalold.ttf') format('truetype');
}

@font-face {
  font-family: 'Federation';
  src: url('./fonts/Federation.ttf') format('truetype');
}

body {
  background-color: #222000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
