@font-face {
  font-family: 'Final Frontier Oldstyle';
  src: url('./assets/fonts/finalold.ttf') format('truetype');
}

@font-face {
  font-family: 'Federation';
  src: url('./assets/fonts/Federation.ttf') format('truetype');
}

body {
  background-color: #808080;
  font-family: Federation;
  margin: 0;
  max-width: 1600px;
  padding: 0;
  text-align: center;
}
